@tailwind base;
@tailwind components;
@tailwind utilities;

.cart{
    background-color: white;
    box-shadow: -6px 1px 5px 0px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
}
.cart-wrap{
    padding: 20px;
}